[submodule "submodule1"]
	path = submodule1
	url = https://github.com/MLlover/submodule1.git
[submodule "nested_test/submodule2"]
	path = nested_test/submodule2
	url = https://github.com/MLlover/submodule2.git
[submodule "nested_test2"]
	path = nested_test2
	url = https://github.com/MLlover/submodule2.git
[submodule "nested_test3/nested_test4"]
	path = nested_test3/nested_test4
	url = https://github.com/MLlover/submodule2.git
[submodule "nst"]
	path = nst
	url = https://github.com/MLlover/submodule1.git
	branch = test
[submodule "nst1"]
	path = nst1
	url = https://github.com/MLlover/submodule1.git
	branch = main
[submodule "nst3"]
	path = nst3
	url = https://github.com/MLlover/submodule1.git
	branch = master
